@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Overpass:wght@400;700;900&display=swap");
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 31.25%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 2rem;
  background-color: #FEFEFD;
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #C7C700;
  color: #FEFEFD;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #1C1C00;
}

.heading-primary {
  color: #FEFEFD;
  backface-visibility: hidden;
}
.heading-primary--main {
  display: block;
  font-size: 12.5rem;
  font-family: "Carter One", cursive;
  letter-spacing: 0.64rem;
  text-shadow: 10px 11px 7px rgba(17, 17, 0, 0.8);
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary--main {
    font-size: 18rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 10rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2.438rem;
  font-weight: 900;
  letter-spacing: 0.04rem;
  text-shadow: 6px 2px 5px #111100;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary--sub {
    font-size: 3.062rem;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    font-size: 1.938rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.062rem;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 0.04rem;
  color: #636300;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3.812rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 3.062rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .heading-secondary {
    font-size: 2.438rem;
  }
}
.heading-secondary:hover {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
  animation: pulsate-fwd 0.5s ease-in-out both;
  text-shadow: 0.5rem 1rem 2rem rgba(50, 50, 0, 0.1);
}

.heading-tertiary {
  font-size: 1.938rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-tertiary {
    font-size: 3.062rem;
  }
}

.paragraph {
  font-size: 1.25rem;
  text-align: justify;
  font-weight: 400;
  letter-spacing: 0.04rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .paragraph {
    font-size: 1.938rem;
  }
}

.footer-heading {
  text-align: center;
}
.footer-heading--primary {
  display: block;
  font-size: 5.938rem;
  font-family: "Carter One", cursive;
  text-shadow: 10px 11px 7px rgba(17, 17, 0, 0.8);
}
.footer-heading--sub {
  display: block;
  font-size: 1.562rem;
  font-weight: 700;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-padding-top-big {
  padding-top: 25rem !important;
}
@media only screen and (max-width: 27.438em) {
  .u-padding-top-big {
    padding-top: 20rem !important;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  overflow: hidden;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}
.bg-video::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(74.89deg, rgba(8, 36, 97, 0.5), rgba(99, 99, 0, 0.5));
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem 1.2rem 3rem;
  border-radius: 2px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(28, 28, 0, 0.4);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 10rem rgba(28, 28, 0, 0.4);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-out;
}
.btn--white {
  background-color: #FCFCFC;
  color: #323200;
}
.btn--white::after {
  background-color: #FCFCFC;
}
.btn--colored {
  background-image: linear-gradient(to right bottom, #C7C700, #636300);
  border: none;
  border-radius: 5px;
  color: #FEFEFD;
  letter-spacing: 0.04rem;
  width: 90%;
  cursor: pointer;
}
.btn--colored::after {
  background-image: linear-gradient(to right bottom, #C7C700, #636300);
  border-radius: 5px;
  border: none;
}

.btn-text {
  font-size: 1.25rem;
}
@media only screen and (max-width: 56.25em) {
  .btn-text {
    font-size: 1.562rem;
  }
}
.btn-text:link, .btn-text:visited {
  color: #636300;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #636300;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #636300;
  color: #FCFCFC;
  box-shadow: 0 1rem 2rem rgba(28, 28, 0, 0.2);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(28, 28, 0, 0.2);
  transform: translateY(0);
}

@media only screen and (max-width: 56.25em) {
  .btn-buy {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .btn-buy {
    margin-top: 1rem;
  }
}
.btn-buy:link, .btn-buy:visited {
  display: block;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  color: #FEFEFD;
  background: linear-gradient(265.17deg, #C70500 -8.14%, #630200 91.04%);
  border-radius: 5px;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 27.438em) {
  .btn-buy:link, .btn-buy:visited {
    font-size: 1.562rem;
  }
}
.btn-buy:hover {
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}
.btn-buy:active, .btn-buy:focus {
  outline: none;
  box-shadow: 0px 1.5px 4px 1px rgba(0, 0, 0, 0.25);
  transform: translateY(0);
}
.btn-buy:hover .card .card__side {
  transform: translateY(-2px);
}

.card {
  height: 308.969px;
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
}
@media only screen and (min-width: 112.5em) {
  .card {
    height: 370px;
  }
}
@media only screen and (max-width: 75em) {
  .card {
    height: 280px;
  }
}
.card__side {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 0.625rem;
  overflow: hidden;
  transition: all 1s ease;
  border: 0.2px solid #1C1C00;
  box-shadow: 0px 16px 6px rgba(28, 28, 0, 0.02), 0px 9px 5px rgba(28, 28, 0, 0.06), 0px 4px 4px rgba(28, 28, 0, 0.1), 0px 1px 2px rgba(28, 28, 0, 0.11), 0px 0px 0px rgba(28, 28, 0, 0.12);
}
.card__side--front {
  background-color: #FEFEFD;
}
.card__side--front .picture {
  background-color: #FEFEFD;
  height: 20rem;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .card__side--front .picture {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
}
.card__side--front .picture img {
  width: 100%;
  height: 256.5px;
  transform: scale(1.1);
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .card__side--front .picture img {
    height: 100px;
  }
}
.card__side--front .details {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.card__side--front .details ul {
  list-style: none;
}
.card__side--front .details ul li:not(:last-child) {
  margin-bottom: 4px;
}
.card__side--front .details .details--description, .card__side--front .details .details--price, .card__side--front .details .details--name, .card__side--front .details .details--category {
  letter-spacing: 0.04rem;
}
.card__side--front .details--category {
  font-size: 0.812rem;
  font-weight: 700;
  color: #636300;
  text-transform: uppercase;
}
@media only screen and (max-width: 56.25em) {
  .card__side--front .details--category {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--front .details--category {
    font-size: 1.562rem;
  }
}
.card__side--front .details--name {
  font-size: 1.562rem;
  font-weight: 700;
  color: #1C1C00;
}
@media only screen and (max-width: 56.25em) {
  .card__side--front .details--name {
    font-size: 2.438rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--front .details--name {
    font-size: 3.062rem;
  }
}
.card__side--front .details--price {
  font-size: 1.25rem;
  font-weight: 400;
  color: #111100;
}
@media only screen and (max-width: 56.25em) {
  .card__side--front .details--price {
    font-size: 1.938rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--front .details--price {
    font-size: 2.438rem;
  }
}
.card__side--front .details--review [class^=material-] {
  font-size: 1.5rem;
  color: #DFDF00;
}
@media only screen and (max-width: 56.25em) {
  .card__side--front .details--review [class^=material-] {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--front .details--review [class^=material-] {
    font-size: 2.5rem;
  }
}
.card__side--front .details--description {
  font-size: 0.812rem;
  font-weight: 400;
  color: #111100;
  text-align: justify;
  height: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .card__side--front .details--description {
    font-size: 1.25rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--front .details--description {
    font-size: 1.562rem;
  }
}
.card__side--back {
  transform: rotateX(-180deg);
  background-color: #FEFEFD;
}
.card__side--back .picture {
  background-color: #FEFEFD;
  height: 12rem;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .card__side--back .picture {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
}
.card__side--back .picture img {
  width: 100%;
  height: 256.5px;
  transform: scale(1.1);
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back .picture img {
    height: 100px;
  }
}
.card__side--back .details {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.card__side--back .details ul {
  list-style: none;
}
.card__side--back .details ul li:not(:last-child) {
  margin-bottom: 4px;
}
.card__side--back .details .details--description, .card__side--back .details .details--price, .card__side--back .details .details--name, .card__side--back .details .details--category {
  letter-spacing: 0.04rem;
}
.card__side--back .details--category {
  font-size: 0.812rem;
  font-weight: 700;
  color: #636300;
  text-transform: uppercase;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back .details--category {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--back .details--category {
    font-size: 1.562rem;
  }
}
.card__side--back .details--name {
  font-size: 1.562rem;
  font-weight: 700;
  color: #1C1C00;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back .details--name {
    font-size: 2.438rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--back .details--name {
    font-size: 3.062rem;
  }
}
.card__side--back .details--price {
  font-size: 1.25rem;
  font-weight: 400;
  color: #111100;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back .details--price {
    font-size: 1.938rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--back .details--price {
    font-size: 2.438rem;
  }
}
.card__side--back .details--review [class^=material-] {
  font-size: 1.5rem;
  color: #DFDF00;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back .details--review [class^=material-] {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--back .details--review [class^=material-] {
    font-size: 2.5rem;
  }
}
.card__side--back .details--description {
  font-size: 0.812rem;
  font-weight: 400;
  color: #111100;
  text-align: justify;
  height: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back .details--description {
    font-size: 1.25rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .card__side--back .details--description {
    font-size: 1.562rem;
  }
}
.card:hover .card__side--front {
  transform: rotateX(180deg);
}
.card:hover .card__side--back {
  transform: rotateX(0);
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 0.625rem;
    border: 0.2px solid #1C1C00;
    box-shadow: 0px 16px 6px rgba(28, 28, 0, 0.02), 0px 9px 5px rgba(28, 28, 0, 0.06), 0px 4px 4px rgba(28, 28, 0, 0.1), 0px 1px 2px rgba(28, 28, 0, 0.11), 0px 0px 0px rgba(28, 28, 0, 0.12);
    overflow: hidden;
  }
  .card__side {
    height: auto;
    position: relative;
    border: 0;
  }
  .card__side--front {
    border-radius: 0;
  }
  .card__side--front .details {
    padding-bottom: 0;
  }
  .card__side--back {
    border-radius: 0;
    border: 0;
    transform: rotateY(0);
  }
  .card__side--back .picture {
    display: none;
  }
  .card__side--back .details--category, .card__side--back .details--name, .card__side--back .details--price {
    display: none !important;
  }
  .card:hover .card__side--front {
    transform: rotateX(0);
  }
}

.composition {
  position: relative;
  margin-top: -2rem;
}
@media only screen and (max-width: 37.5em) {
  .composition {
    margin: 4rem 0 0 3rem;
  }
}
.composition__photo {
  width: 29.5rem;
  height: 18.75rem;
  box-shadow: 0 1.5rem 4rem rgba(50, 50, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.5s;
  outline-offset: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo {
    width: 33.333%;
  }
}
@media only screen and (max-width: 37.5em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.333%;
  }
}
.composition__photo--p1 {
  right: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .composition__photo--p1 {
    top: 0;
    left: 0;
  }
}
.composition__photo--p2 {
  top: 12rem;
  right: 20rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p2 {
    top: 18rem;
    right: 20rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .composition__photo--p2 {
    top: 2rem;
    right: 2rem;
  }
}
.composition__photo--p3 {
  top: 25rem;
  right: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 40rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .composition__photo--p3 {
    top: 4rem;
    right: 4rem;
  }
}
.composition__photo:hover {
  outline: 0.5rem double #C7C700;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(50, 50, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.feature-box {
  background-color: rgba(254, 254, 253, 0.95);
  height: 20.438rem;
  padding: 1.5rem 3rem;
  letter-spacing: 0.04rem;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 16px 6px rgba(28, 28, 0, 0.02), 0px 9px 5px rgba(28, 28, 0, 0.06), 0px 4px 4px rgba(28, 28, 0, 0.1), 0px 1px 2px rgba(28, 28, 0, 0.11), 0px 0px 0px rgba(28, 28, 0, 0.12);
  transition: all 0.5s;
}
@media only screen and (max-width: 56.25em) {
  .feature-box {
    height: 24rem;
  }
}
@media (max-width: 41.0625em) {
  .feature-box {
    height: 26rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .feature-box {
    height: 24rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .feature-box {
    height: 100%;
  }
}
.feature-box__icon {
  font-size: 5.938rem;
  background-image: linear-gradient(228.65deg, #CDCD01 44.05%, #323200 155.45%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .feature-box__icon {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .feature-box__icon {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .feature-box__headerText {
    font-size: 2.438rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .feature-box__headerText {
    font-size: 1.938rem;
  }
}
.feature-box__text {
  font-size: 1.562rem;
  font-weight: 400;
}
@media (max-width: 65.125em) {
  .feature-box__text {
    font-size: 1.4rem;
  }
}
@media (max-width: 58.325em) {
  .feature-box__text {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .feature-box__text {
    font-size: 1.938rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .feature-box__text {
    font-size: 1.562rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .feature-box__text {
    font-size: 1.25rem;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  background-color: #FEFEFD;
  box-shadow: rgba(50, 50, 0, 0.15) 0px 1.5rem 4rem;
}

.form__group:not(:last-child) {
  position: relative;
  margin-top: 1rem;
  padding-bottom: 0.1rem;
}
.form__input {
  font-size: 1.562rem;
  font-family: inherit;
  color: inherit;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(254, 254, 253, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.5s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(28, 28, 0, 0.1);
  border-bottom: 3px solid #C7C700;
}
.form__input:focus:invalid, .form__input:invalid {
  border-bottom: 3px solid #C70500;
}
.form__input:valid {
  border-bottom: 3px solid #C7C700;
}
.form__input::-webkit-input-placeholder {
  color: #323200;
}
.form__input:placeholder-shown {
  border-bottom: 3px solid transparent;
}
.form__label {
  font-size: 1.25rem;
  font-weight: 700;
  color: #323200;
  letter-spacing: 0.04rem;
  display: inline-block;
  transition: all 0.3s;
  position: absolute;
  top: -2.1rem;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
  margin-bottom: 2rem;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.562rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
  text-transform: capitalize;
}
.form__radio-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 3px solid #636300;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background-color: #636300;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.signup-popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(17, 17, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.signup-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .signup-popup {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(17, 17, 0, 0.5);
  }
}
.signup-popup__content {
  width: 75%;
  opacity: 0;
  transition: all 0.5s 0.2s;
}
.signup-popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 56.25em) {
  .signup-popup__content {
    width: 85%;
  }
}
.signup-popup:target {
  opacity: 1;
  visibility: visible;
}
.signup-popup:target .signup-popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.9);
}

.popup {
  width: 100%;
  background-image: linear-gradient(105deg, rgba(254, 254, 253, 0.9) 0%, rgba(254, 254, 253, 0.9) 50%, transparent 50%), url(/img/signup-img-big.jpg);
  background-size: 100%;
  background-position: center;
  box-shadow: 0 1.5rem 2rem rgba(28, 28, 0, 0.2);
}
@media only screen and (max-width: 56.25em) {
  .popup {
    background-image: linear-gradient(105deg, rgba(254, 254, 253, 0.9) 0%, rgba(254, 254, 253, 0.9) 70%, transparent 50%), url(/img/signup-img-big.jpg);
  }
}
.popup__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .popup__form {
    width: 75%;
  }
}
.popup__form .heading-secondary {
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}
.popup__close:link, .popup__close:visited {
  color: #FCFCFC;
  text-decoration: none;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3.062rem;
  display: inline-block;
  line-height: 1;
  transition: all 0.2s;
}
.popup__close:hover {
  color: #C7C700;
}

.review {
  height: auto;
  margin: 0 auto;
  padding: 4rem 6rem 6rem 8rem;
  font-size: 1.562rem;
  letter-spacing: 0.04rem;
  background-color: rgba(252, 252, 252, 0.8);
  transition: all 0.5s;
  position: relative;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .review {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
}
@media only screen and (max-width: 56.25em) {
  .review {
    font-size: 2.438rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .review {
    font-size: 1.938rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .review {
    font-size: 1.562rem;
  }
}
.review__shape {
  width: 10rem;
  height: 10rem;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transform: translateX(-2rem);
}
@media only screen and (max-width: 56.25em) {
  .review__shape {
    width: 15rem;
    height: 15rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .review__shape {
    width: 12rem;
    height: 12rem;
  }
}
.review__img {
  height: 100%;
  transform: scale(1.4);
  transition: all 0.5s;
}
.review__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #FEFEFD;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
.review__text {
  margin-left: 8rem;
  text-align: justify;
}
.review:hover .review__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.review:hover .review__img {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}
.review:hover {
  transform: translateY(-2rem);
}

.icon {
  font-size: 10rem;
  position: absolute;
  z-index: 1;
  font-size: 12rem;
  color: #C7C700;
  left: 9rem;
  opacity: 0.9;
}
.icon--1 {
  top: 4rem;
}
.icon--2 {
  top: 30rem;
}
@media only screen and (max-width: 56.25em) {
  .icon--2 {
    top: 37rem;
  }
}

.footer {
  padding: 10rem 15rem;
  background-color: #1C1C00;
  color: #FEFEFD;
  letter-spacing: 0.04rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 5rem 10rem;
  }
}
.footer__companyInfo, .footer__companySocial {
  display: block;
  width: 40%;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .footer__companyInfo, .footer__companySocial {
    width: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__companyInfo, .footer__companySocial {
    width: 80%;
  }
}
.footer__companySocial {
  font-size: 1.938rem;
  text-align: center;
}
.footer__companySocial .icons {
  width: max-content;
  margin: 0 auto;
}
.footer__companySocial .icons__container::after {
  content: "";
  clear: both;
  display: table;
}
.footer__companySocial .icons__icon {
  float: left;
  width: 4rem;
  height: 4rem;
  background-color: #FEFEFD;
  padding: 0.65rem 1rem 0 1rem;
  border-radius: 100px;
  transition: all 0.5s;
}
.footer__companySocial .icons__icon:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__companySocial .icons__icon .fa {
  background-image: linear-gradient(228.65deg, #CDCD01 44.05%, #323200 155.45%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.footer__companySocial .icons__icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 1.5rem 4rem rgba(50, 50, 0, 0.4);
}
.footer .row {
  font-size: 1.562rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (max-width: 37.5em) {
  .footer .row {
    width: 60%;
  }
}
.footer .row [class^=col-]:not(:last-child) {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .footer .row [class^=col-] {
    width: 100% !important;
  }
}
.footer__navigation {
  border-top: 1px solid #FEFEFD;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__navigation {
    width: 100%;
  }
}
.footer__list {
  list-style: none;
}
@media only screen and (max-width: 56.25em) {
  .footer__list {
    text-align: center;
  }
}
.footer__item {
  display: inline-block;
  transition: all 0.5s;
}
@media only screen and (max-width: 56.25em) {
  .footer__item {
    text-align: center;
  }
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__item:hover {
  transform: scale(1.1);
}
.footer__link:link, .footer__link:visited {
  color: #FEFEFD;
  text-decoration: none;
  transition: all 0.5s;
}
.footer__link:hover, .footer__link:active {
  color: #C7C700;
}
.footer__copyrightContainer {
  border-top: 1px solid #FEFEFD;
  padding-top: 2rem;
  display: inline-block;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyrightContainer {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__copyrightContainer {
    width: 100%;
  }
}
.footer__copyright {
  text-align: center;
}

.row {
  max-width: 115rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 150rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .row {
    max-width: 100rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .row {
    max-width: 80rem;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 4rem;
}
.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 4rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 4rem) / 4);
}

.header {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(74.89deg, rgba(8, 36, 97, 0.5), rgba(99, 99, 0, 0.5)), url(/img/header-img-2.jpeg);
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 56.25em) {
  .header {
    height: 50vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    background-image: linear-gradient(360deg, rgba(99, 99, 0, 0.5), rgba(8, 36, 97, 0.5)), url(/img/header-img-1.jpeg);
  }
}
@media only screen and (max-width: 27.438em) {
  .header {
    height: 45vh;
  }
}
.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.header__logo {
  height: 9.063rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .btn {
  margin-top: 2rem;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #FEFEFD;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 5px;
  z-index: 2000;
  box-shadow: 0px 16px 6px rgba(28, 28, 0, 0.02), 0px 9px 5px rgba(28, 28, 0, 0.06), 0px 4px 4px rgba(28, 28, 0, 0.1), 0px 1px 2px rgba(28, 28, 0, 0.11), 0px 0px 0px rgba(28, 28, 0, 0.12);
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    height: 5rem;
    width: 5rem;
    top: 3rem;
    right: 3rem;
  }
}
.navigation__icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #1C1C00;
  display: inline-block;
  transition: all 0.5s;
}
@media only screen and (max-width: 37.5em) {
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 1.5px;
  }
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg);
}
.navigation__background {
  background-color: rgba(28, 28, 0, 0.1);
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 5px;
  position: fixed;
  top: 7.5rem;
  right: 7.5rem;
  z-index: 1000;
  background-image: linear-gradient(to left bottom, #DFDF00, #636300);
  transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    height: 3.5rem;
    width: 3.5rem;
    top: 3rem;
    right: 3rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.5s;
}
.navigation__list {
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3.062rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
  padding: 1rem 2rem 0.5rem 2rem;
  color: #FEFEFD;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(102deg, transparent 0%, transparent 50%, #FEFEFD 50%);
  background-size: 230%;
  transition: all 0.5s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
}
.navigation__link:hover, .navigation__link:active {
  color: #C7C700;
  background-position: 100%;
  transform: translateX(-1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  height: 100vh;
  width: 50rem;
  top: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: -1.5rem 1.5rem 2rem rgba(50, 50, 0, 0.5);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  height: 100vh;
  width: 50rem;
}

.icons__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.icons__logo {
  height: 9.063rem;
}

.section-features {
  margin-top: -8rem;
  position: relative;
  z-index: 3;
  -webkit-animation: scale-in-ver-top 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: scale-in-ver-top 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}
.section-features .row {
  margin-top: -5rem;
}
@media only screen and (max-width: 37.5em) {
  .section-features .row [class^=col-] {
    width: calc((100% - 4rem) / 3);
    margin: 0 8rem 4rem 8rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .section-features .row [class^=col-] {
    width: 80% !important;
  }
}

.section-about {
  height: 95rem;
  width: auto;
  margin-top: -12.5rem;
  background-color: #FFFFF8;
  padding: 4rem;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .section-about {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
}
@media only screen and (max-width: 56.25em) {
  .section-about {
    height: 120rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about {
    height: 140rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about .row [class^=col-] {
    width: 100% !important;
  }
}
.section-about .row .heading-tertiary {
  font-size: 2.438rem;
}

.section-products {
  background-color: #FCFCFC;
  margin-top: -9.5rem;
  padding: 15rem 0;
}
.section-products > *:not(:last-child) {
  margin-bottom: 8rem;
}
.section-products .row {
  margin-top: -5rem;
}
@media only screen and (max-width: 37.5em) {
  .section-products .row [class^=col-] {
    width: calc((100% - 4rem) / 3);
    margin: 0 8rem 4rem 8rem;
  }
}
@media only screen and (max-width: 27.438em) {
  .section-products .row [class^=col-] {
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-products {
    margin-top: -12rem;
  }
}

.section-reviews {
  position: relative;
  padding: 10rem 4rem;
}
.section-reviews .row:not(:last-child) {
  margin-bottom: 8rem;
}

/*# sourceMappingURL=style.comp.css.map */
