// Fonts
$font-style-overpass: 'Overpass', sans-serif;
$font-style-carter: 'Carter One', cursive;

// Font Weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;


// Font Sizes
$font-size-h1: 5.938rem;
$font-size-h2: 4.750rem;
$font-size-h3: 3.812rem;
$font-size-h4: 3.062rem;
$font-size-h5: 2.438rem;
$font-size-h6: 1.938rem;
$font-size-headline: 1.562rem;
$font-size-caption: 1.250rem;
$font-size-body: 1rem;
$font-size-subtitle: 0.812rem;

// Letter Spacing
$letter-spacing-default: 0.04rem;

// Colors
$color-primary: #C7C700;
$color-primary-light: #DFDF00;
$color-primary-dark: #636300;

$color-secondary: #0D3FA8;
$color-secondary-light: #1252DA;
$color-secondary-dark: #082461;

$color-tertiray: #8D0300;
$color-tertiray-light: #C70500;
$color-tertiray-dark: #630200;

$color-white-1: #FEFEFD;
$color-white-2: #FCFCFC;

$color-dark: #323200;
$color-dark-1: #1C1C00;
$color-dark-2: #111100;

// Grid
$grid-width: 115rem;
// $grid-width: 130rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;